<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <%= link_to "Nova prioridade", new_priority_path, "data-controller":"priority-modal", class: 'btn btn-primary' %>
</div>
<table class="table table-hover">
  <thead>
    <th>Nome</th>
    <th></th>
  </thead>
  <tbody>
    <% @priorities.each do |priority| %>
      <tr>
        <td><%= priority.name %></td>
        <td class="text-right">
          <%= link_to "Editar", edit_priority_path(priority), "data-controller":"priority-modal", class: 'btn btn-primary' %>
          <%= link_to "Excluir", priority_path(priority), method: :delete, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Deseja realmente excluir?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
