<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= tasks_path %>">
    <div class="sidebar-brand-icon">
      <i class="fas fa-robot"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Robot Tasks</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <%= link_to tasks_path(filter: "today"), class: "nav-link" do %>
      <i class="fas fa-check"></i>
      <span>Today</span>
    <% end %>
    <%= link_to tasks_path, class: "nav-link" do %>
      <i class="fas fa-bars"></i>
      <span>Tasks</span>
    <% end %>
    <%= link_to tasks_path(filter: "ended"), class: "nav-link" do %>
      <i class="fas fa-hourglass-end"></i>
      <span>Ended</span>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
